<div class="bigcontainer">
    <div class="logo">
        <h1>i-Terial</h1>
    </div>
    <div class="buttongroup">
        <a href="/home"><button>Home</button></a>
        <a href="/search"><button>Search</button></a>
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
    </div>
</div>
