<div class="nav">

<div class="logo">i-Terial</div>

<div class="menu">
<a href="#">Home</a>
<a href="#">Search</a>
<a href="#">Profile</a>
<a href="/student">Exam</a>
<a href="#">Review</a>
</div>

</div>