<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h1>Reset Password</h1>

    <form action="/forgot" method="POST">

    <p>Username or Email</p>
    <input type="text" name="login" required>

    <p>New Password</p>
    <input type="password" name="newpassword" required>

    <button type="submit">Reset Password</button>

</form>
</body>
</html>