@font-face {
    font-family: kodchasan;
    src: url(Kodchasan-Regular.ttf);
}

* {
    font-family: kodchasan;
}

body{
    margin:0;    
    background:#e7e1c9;
}


/* ===== HEADER ===== */

.header{
    background:#ef6c43;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 50px;
}

.logo{
    font-size:40px;
    color:white;
    font-weight:bold;
}

.menu a{
    text-decoration:none;
    background:#8aa33d;
    color:white;
    padding:10px 18px;
    margin-left:10px;
    border-radius:10px;
    font-size:18px;
}


/* ===== SEARCH BOX ===== */

.search-box{
    display:flex;
    justify-content:center;
    margin-top:70px;
}

.search-box form{
    display:flex;
    width:650px;
}

.search-input{
    flex:1;
    padding:15px 20px;
    font-size:20px;
    border:none;
    border-radius:30px 0 0 30px;
    background:#8aa33d;
    color:white;
}

.search-input::placeholder{
    color:white;
}

.search-btn{
    width:80px;
    border:none;
    border-radius:0 30px 30px 0;
    background:#8aa33d;
    font-size:24px;
    cursor:pointer;
}


/* ===== RESULT AREA ===== */

.result{
    margin-top:70px;
}


/* ===== COURSE GRID ===== */

.course-list{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:40px;
    padding:40px 120px;
}


/* ===== COURSE CARD ===== */

.course-card{
    background:#8aa33d;
    border-radius:12px;
    overflow:hidden;
    cursor:pointer;
    transition:0.25s;
}

.course-card:hover{
    transform:scale(1.05);
}


/* image */

.course-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}


/* title */

.course-card p{
    margin:0;
    padding:15px;
    color:white;
    font-size:22px;
    text-align:left;
}

.course-link{
    text-decoration:none;
    color:inherit;
}


/* ===== NOT FOUND ===== */

.notfound{
    text-align:center;
    font-size:24px;
    margin-top:40px;
}